<html>
   <head>
      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
   </head>
   <body>
      <title> <%= title %> </title>
      <ul id="vlist">
      <% for(var i = 0; i< videos.length;i++) { %>
         <li>
            <a href="<%= cat %>/<%= videos[i]['_id'] %>">
               <%= videos[i]['title'] %> <%= videos[i]['name'] %>
            </a>
         </li>
      <% } %> 
      </ul>
      
   </body>
</html>


