<html>
   <head>
      <link href="http://vjs.zencdn.net/4.3.0/video-js.css" rel="stylesheet">
      <script src="http://vjs.zencdn.net/4.3.0/video.js"></script>
      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
      <script type="text/javascript" src="../player/js/player.js"></script>
   </head>
   <body onload="load()">
      <h3><%= vTitle %> </h3>
      <div id="vid" ><%= vIdEncoded %></div>
      <div id="vtype" ><%= vType === undefined ? 'mp4' : vType %></div>
      <div id="vCat" ><%= vCat === undefined ? 'youku' : vCat %></div>
      <video id="my_video" class="video-js vjs-default-skin vjs-big-play-centered" controls autoplay
      preload="auto" width="800" height="600" poster="../player/resource/my_video_poster.png"
      data-setup="{}">
         <source src="" type="video/mp4">
      </video>
      <input type="button" id="update" name="update" value="update" />
      <ul id="vlist">
      <% for(var i = 0; i< vList.length;i++) { %>
         <li>
         <%= vList[i] %>
         </li>
      <% } %> 
      </ul>
      <ul id="Tvlist">
      <% for(var i = 0; i< vTvList.length;i++) { %>
         <li>
         <%= vTvList[i].title %>
         <%= vTvList[i].vidEncoded %>
         </li>
      <% } %> 
      </ul>

      
   </body>
</html>


